<mat-toolbar>
  My App
  <span fxFlex></span>
  <div>
    <button mat-button routerLink="/auth/login">
      <mat-icon>input</mat-icon>
      &nbsp;Sign in
    </button>
    <button mat-button routerLink="/auth/register">
      <mat-icon>person_add</mat-icon>
      &nbsp;Sign UP
    </button>

    <button mat-icon-button routerLink="/main/people">
      <mat-icon>Home</mat-icon>
    </button>
    <button mat-icon-button routerLink="/main/products">
      <mat-icon>Shop</mat-icon>
    </button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
